h2 {
    font-size: 1.2em;
}

h1 {
    font-size: 1.5em;
}

main {
    height: 100vh;
}

#header-logo {
    display: block;
    margin: 32px auto 0;
    width: 30%;
}

.display-block {
    display: block;
}

.small-text {
    font-size: small;
    font-weight: normal;
}

.wrap {
    max-width: 800px;
    margin: auto;
}

.flex-box {
    display: flex;
}

.introduction {
    width: 50%;
}

#kon-standing-picture {
    width: 48%;
    height: auto;
    margin-right: 32px;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
}

.activity-location-link a {
    width: 39%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    background: #f5f6fa;
    margin: 8px 0;
    padding: 0 16px;
}

.activity-location-link a:nth-child(odd){
    margin-right: 8px;
}

.activity-location-link a span {
    margin-right: 16px;
    margin-bottom: -5px;
}

.my-game-link {
    list-style: none;
}

.my-game-link li:before {
    content: "▶";
    margin-right: 5px;
  }

.my-game-link li a {
    display: inline-block;
    padding: 8px 0;
    color: black;
}

footer {
    margin-top: 64px;
}

footer p {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 16px 0;
}

@media screen and (max-width: 768px) {
    main {
        height: auto;
    }
    
    .wrap {
        max-width: 100%;
    }
    .flex-box {
        display: block;
        padding: 8px;
    }
    .activity-location-link a {
        width: 90%;
    }
    p.bio {
        max-width: 100%;
        box-sizing: border-box; /* paddingやborderも含めた要素の幅をmax-widthに含める */
        overflow-wrap: break-word; /* テキストが要素の幅を超える場合に改行する */
    }
    .introduction {
        width: 100%;
    }
    #kon-standing-picture {
        display: block;
        width: 80%;
        margin: auto;
    }
}